.iconContainer {
    margin: auto;
    width: 35px;
    height: 35px;
    border: solid #222222;
    border-radius: 4em;
    text-align: center;
    background-color: #222222;
    color: white;
    transform: translate(150%, -175px);   
    cursor: pointer;
}

.iconContainer:hover {
    pointer-events: auto;
}

.icon {
    width: 20px;
    height: 20px;
}