.iconContainer {
    margin: auto;
    transform: translateY(-15px);   
    width: 35px;
    height: 35px;
    border-radius: 4em;
    background-color: #222222;
    border: solid #222222;
    color: white;
    text-align: center;
    cursor: pointer;
}

.iconContainer:hover {
    pointer-events: auto;
}

.icon {
    width: 20px;
    height: 20px;
}

/* .favoriteButton {
    background-color:  '#C24868';
    border: solid  '#C24868';
    margin: auto;
    transform: translateY(-15px);   
    width: 35px;
    height: 35px;
    border-radius: 4em;
    background-color: '#C24868';
    border: solid '#C24868';
    color: white;
    text-align: center;
    cursor: pointer;
} */