.label {
    margin-left: 20px;
    background-color: #222222;
    /* display: flex; */
    border-radius: 4px;
    font-weight: bold;
}

.dropdownButton {
    /* display: flex;
    justify-content: space-between; */
    margin-left: 10px;
    padding: 5px;
    min-width: 245px;
    max-height: 30px;
    background-color: #222222;
    border: 1px solid #F8F8F2;
    border-radius: 3px;
    color: #F8F8F2;
    text-align: start;
}

.dropdownDiv {
    background-color: #222222;
    border: solid;
    margin-left: 30px;
    border-radius: 4px;
}

.ul {
    margin-right: 20px;
}

@media (max-width: 640px) {
    .label {
        margin-left: 0;
    }

    .dropdownButton {
        margin-left: 10px;
        padding: 5px;
        min-width: 275px;
        background-color: #222222;
        border-radius: 4px;
        color: #F8F8F2;
        text-align: start;
    }

    .dropdownDiv {
        margin-left: 10px;
    }

    .angleIcon {
        margin-left: 185px;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    .dropdownButton {
        margin-left: 10px;
        padding: 5px;
        min-width: 125px;
    }

    .angleIcon {
        margin-left: 30px;
    }
}
