.label {
    margin-left: 20px;
    background-color: #222222;
    width: 50%;
    max-width: 50%;
    border-radius: 4px;
    font-weight: bold;
}

@media (max-width: 640px) {
    .label {
        /* background-color: gray; */
        margin: 5px;
    }
}

@media (min-width: 641px) {
    .dropdownButton {
        padding: 5px;
        margin-left: 10px;
        width: 245px;
        border: 1px solid #F8F8F2;
        border-radius: 3px;
        background-color: #222222;
        color: #F8F8F2;
        text-align: start;
        font: 16px;
        letter-spacing: 0px;
    }

    .angleIcon {
        margin-left: 155px;
    }
}

@media (max-width: 640px) {
    .dropdownButton {
        border-radius: 4px;
        background:  #F8F8F2;
    }
}

.dropdownDiv {
    background-color: #222222;
    border: solid;
}

@media (max-width: 640px) {
    .dropdownDiv {
        background-color: rgb(19, 24, 29);
    }
}