.comicsSection {
    width: 100%;
    background:  #F8F8F2;
}

@media (max-width: 640px) {
    .comicsSection {
        padding: 20px;
    }
}

.filterBox {
      display: inline-flex;
      justify-content: flex-start;
      width: 100%;
      padding: 15px 10px 15px 10px;
      background-color: #222222;
      color: #F8F8F2;
      font-weight: bold;
      font-size: 16px;
}

.filterOptions {
    display: none;
}

.favOptions {
    display: none;
}

.grid {
    width: 100%;
}

@media (max-width: 640px) {
    .filterBox {
        display: flex;
        padding: 0;
        flex-wrap: wrap;
        max-width: 100%;
        color: #F8F8F2;
        justify-content: space-between;
    }

    .favOptions {
        display: block;
        padding: 10px;
    }

    .filterOptions {
        padding: 10px;
        align-self: center;
        display: flex;
        flex-wrap: wrap;
    }

    .dropdowns {
        width: 100%;
    }

    .favOptions {
        color: #F8F8F2;
        align-self: center;
    }

    .grid {
        max-width: 350px;
        margin: 0 auto;
    }

    .dropdownButtonHide {
        padding: 10px;
        height: 40px;
        width: 100%;
        border: solid #C24868;
        color: white;
        background-color: #C24868;
        font: 'Montserrat';
        font-weight: bold;
    }

    .icon {
        margin-left: 5px;
    }
}