.comicDiv {
    padding: 10px;
    margin: 20px 0;
}

.ul {
    display: grid;
    padding: 0;
    max-width: 220px;
    margin: auto;
}

.image {
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.4);
}

@media (max-width: 640px) {
    .ul {
        display: flex;
        flex-direction: row-reverse;
        min-width: fit-content;
    }

    .image {
        max-height: 200px;
        max-width: 150px;;
    }
}

@media (max-width: 370px) {
    .image {
        max-width: 130px;
    }
}