.comicsSection {
    /* top: 100px; */
    width: 100%;
    /* background: #F8F8F2; */
    background:  #F8F8F2;
    /* border: solid blue; */
}

/* @media (max-width: 640px) {
    .comicsSection {
        top: 320px;
    }
} */

.filterBox {
      display: inline-flex;
      width: 100%;
      padding: 10px;
      background-color: #222222;
      color: #F8F8F2;
      
}

@media (max-width: 640px) {
    .filterBox {
        display: flex;
        max-width: 100%;
        color: #F8F8F2;
        border: solid red;
    }

    .filterOptions {
        /* border: solid gray; */
        align-self: center;
    }

    .favOptions {
        /* border: solid pink; */
        color: #F8F8F2;
        align-self: center;
    }

    .grid {
        max-width: 350px;
        margin: 0 auto;
    }
}