.favBox {
    margin-left: 50px;
    height: fit-content;
    width: 30%;
    background-color: #222222;
    color: #F8F8F2;
}

@media (max-width: 640px) {
    .favBox {
        margin-left: 0;
        width: 100%;
    }
}

.title {
    color: white;
    padding: 10px 0 0 30px;
    font-weight: 900;
}

.ul {
    padding-left: 30px;
}

.list {
    display: flex;
    width: 100%;
}

.favDiv {
    display: flex;
    margin: 25px 0;
}

.content {
    margin: 5px;
}

.xBtnContainer {
    display: flex;
}

.xBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    transform: translate(15px, 15px);
    padding: 2px;
    border-radius: 4em;
    border: solid #F8F8F2;
    color: #C24868;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}