.favBox {
    height: auto;
    /* width: 20%; */
    background-color: #222222;
    color: #F8F8F2;
    transform: translateY(165px);
    margin-left: 10px;
}

.title {
    color: white;
    padding: 20px;
    font-weight: 900;
}