.favBox {
    margin-left: 50px;
    height: fit-content;
    width: 30%;
    background-color: #222222;
    color: #F8F8F2;
}

.image {
    width: 60px;
    min-width: 60px;
}

.sectionTitle {
    padding: 10px 0 0 30px;
    margin-bottom: 0;
}

.title {
    color: white;
    margin-bottom: 5px;
    font-weight: bold;
}

.ul {
    padding-left: 15px;
}

.list {
    width: 100%;
}

.favDiv {
    display: flex;
    margin: 25px 0;
    width: 215px;
    height: 80px;
    /* border: solid green; */
}

.content {
    margin-left: 10px;
    margin-right: 5px;
    font-size: 14px;
}

.xBtnContainer {
    display: flex;
}

.xBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    transform: translate(15px, 15px);
    padding: 2px;
    border-radius: 4em;
    border: solid #F8F8F2;
    color: #C24868;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

@media (max-width: 640px) {
    .favBox {
        margin-left: 0;
        width: 100%;
    }

    .favDiv {
        width: auto;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    .favBox {
        margin-left: 10px;
    }
}