@media (max-width: 640px) {
    .comicDiv {
        margin-top: 300px;
    }
}

.filterBox {
    display: inline-flex;
    margin-top: 200px;
    width: 80%;
    padding: 10px;
    background-color: #222222;
    color: white;
}

/* @media (max-width: 640px) {
    .filterBox {

    }
} */

.ul {
    background-color: pink;
}

.list {
    display: inline-flex;
}