.heroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 375px; */
    height: 875px; 
    /* height: auto; */
    position: relative;
    /* overflow: hidden; */
  }

@media (max-width: 640px) {
    .heroContainer {
        height: 525px;
    }
}

.heroImgContainer {
    background: transparent url('/hero-photo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100vw;
    /* width: 1440px;
    height: 650px; */
}

@media (max-width:  640px) {
  .heroImgContainer {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100vw;
    /* width: 200px; */
    height: 120px; 
    /* width: 375px; */
    /* height: 225px; */
    /* width: auto; */
    /* height: auto; */
  }
}

.borderImgContainer {
    position: relative;
    top: -150px;
}

@media (max-width: 640px) {
  .borderImgContainer {
    top: 275px;
  }
}
  
.heroTitleBox {
    position: relative;
    top: -525px;
    left: 70px;
    width: 572px;
    height: 148px;
    /* UI Properties */
    background: #C24868E6 0% 0% no-repeat padding-box;
    opacity: 1;
}

@media (max-width: 640px) {
  .heroTitleBox {
    top: -100px;
    width: 256px;
    height: 66px;
  }
}

.heroTitle {
    text-align: center;
    font: normal normal 900 61px/74px Montserrat;
    letter-spacing: 0px;
    color: #F8F8F2;
    text-shadow: 3px 3px 0px #000000;
    opacity: 1;
}

@media (max-width: 640px) {
  .heroTitle {
      font: normal normal 900 27px/33px Montserrat;
      text-shadow: 2px 2px 0px #000000;
  }
}

.headingContainer {
  position: absolute;
  top: 600px;
  width: 500px;
  height: 100px;
}

.newComicsBox {
    position: absolute;
    /* top: 736px; */
    /* left: -90px; */
    transform: translate(-50px, -2px) rotate(-5deg);
    text-align: center;
    width: 159px;
    height: 39px;
    /* UI Properties */
    background: #9ECFC5;
    opacity: 1;
    /* background-color: #9ECFC5; */
}

.newComics {
    position: relative;
    top: -20px;
    left: 10px;
    width: 127px;
    height: 0;
    /* UI Properties */
    /* text-align: center; */
    font: normal normal 900 18px/16px Montserrat;
    letter-spacing: 0px;
    color: #F8F8F2;
    text-shadow: 2px 2px 0px #222222;
    opacity: 1;
}

.comingOutDaily {
    position: absolute;
    /* top: 565px; */
    width: 469px;
    height: 59px;
    /* UI Properties */
    text-align: left;
    font: normal normal 900 49px/16px Montserrat;
    letter-spacing: 0px;
    color: #C24868;
    opacity: 1;
    z-index: 4;
}

@media (max-width: 640px) {
  .comingOutDaily {
    position: relative;
    top: 250px;
    left: 20px;
    width: 239px;
    height: 30px;
    /* UI Properties */
    text-align: left;
    font: normal normal 900 25px/16px Montserrat;
  }
}

.latin {
    position: absolute;
    top: 659px;
    width: 670px;
    height: 120px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 20px/32px Montserrat;
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
  }

@media (max-width: 640px) {
    .latin {
      position: relative;
      top: 220px;
      left: 0;
      width: 80vw;
    }
}

@media (min-width: 641px) and (max-width: 1040px) {
    .latin {
      width: 80vw;
    }
}