.dropdownButton {
    margin-left: 10px;
    background-color: #222222;
    color: #F8F8F2;
    min-height: 30px;
    font-weight: bold;
    border: none;
}


.icon {
    background-color: #222222;
    color: #F8F8F2;
    margin-left: 5px;
}
